parameters:
	ignoreErrors:
		-
			message: '#^Class App\\Models\\User not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/auth.providers.admin_users.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/AdminTranslationsServiceProvider.php

		-
			message: '#^Instanceof between Illuminate\\Config\\Repository and Illuminate\\Contracts\\Config\\Repository will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/AdminTranslationsServiceProvider.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Models/Translation.php

		-
			message: '#^Instanceof between Illuminate\\Cache\\Repository and Illuminate\\Contracts\\Cache\\Repository will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Models/Translation.php

		-
			message: '#^Instanceof between Illuminate\\Config\\Repository and Illuminate\\Contracts\\Config\\Repository will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Models/Translation.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/TranslationLoaderManager.php

		-
			message: '#^Instanceof between Illuminate\\Config\\Repository and Illuminate\\Contracts\\Config\\Repository will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/TranslationLoaderManager.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: tests/Feature/TranslationsControllerTest.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 8
			path: tests/TestCase.php
